*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Odibee Sans', cursive; */
}

body{
    /* font-size: 17px; */
    margin: 0px;
    /* background-color: rgb(255, 242, 246); */
    background-image: url("./pokebg.png");
    background-size: cover;
}

h1{
    font-family: 'Odibee Sans', cursive;
    font-size: 55px;
    color:rgb(224, 121, 121);
    text-align: center;
    margin: 20px;
}

#navbar{
    background-color: rgb(224, 121, 121);
    color: white;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar div{
    display: flex;
    justify-content: space-between;
}

#navbar a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

#navbar a:hover{
    box-shadow: 2px 2px 2px 2px rgb(248, 205, 205);
    padding: 3px;
    border-radius: 0.5rem;
}

#last{
    margin-left: auto;
}

#game_board{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

#game_events{
    height: 500px;
    width: 25%;
    background-color:rgb(255, 253, 226);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    padding: 10px;
}

#pokemons_display{
    /* border: 2px tomato solid; */
    width: 700px;
    height: 500px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-image:linear-gradient(rgb(224, 121, 121),rgb(248, 205, 205)); */
    /* border-radius: 0.5rem; */
}

.cards{
    width: calc(33.3% - 10px);
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-image:linear-gradient(rgb(224, 121, 121), rgb(255, 252, 242));
    border-radius: 0.5rem;
}

img{
    /* width: 100%; */
    height: 100%;
}

.front, .back{
    position: absolute;
    /* width: 100%; */
    /* height: 100px; */
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.front{
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

main{
    padding: 20px;
}

#game_setup{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; */
    text-align: center;
}

#game_setup div{
    margin: 3px;
}

#timer{
    text-align: center;
    /* background-color: rgb(158, 216, 131); */
    background-image: url("./timer-bg2.jpeg");
    background-size: cover;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 45pt;
}

#game_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#start_game, .reset{
    padding: 5px;
    border-radius: 0.5rem;
    background-color:rgb(103, 190, 62);
    color: white;
    font-size: 15t;
    border:none;
    margin-top: 10px;
}

#start_game:hover, .reset:hover{
    background-color:rgb(71, 131, 43);
}

#message{
    text-align: center;
    margin: auto
}

#message p {
    font-size: 35pt;
    font-weight: 700;
}

#game_events p{
    margin: 5px 10px 5px 10px;
}